/* For both tablets and desktop screens */
@media (min-width: 768px) {
/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list .nav-item {
    display: block;
    color: var(--gradient-purple);
    font-weight: 600;
}

.header .nav-item a:hover {
    text-decoration: underline;
}
.nav-list .nav-item:not(:last-child) {
    margin-right: 1rem;
}

/* Hero section styles */
#hero {
    padding-left: 0;
    padding-right: 0;
    height: 500px;
    text-align: left;
}

#hero-content h1 {
    font-size: 4rem;
}

#hero-content p {
    font-size: 2rem;
}

/* Team Section style */
#team-section .section-content {
    flex-direction: row;
    padding: 2rem;
}

/* Color section style */
#color-section .section-content > div:not(:first-child) {
    margin-top: 2rem;
}

#color-contrast {
    display: flex;
    justify-content: space-between;
}

#good-contrast,
#bad-contrast {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-palette {
    display: flex;
}

.color-box {
    width: 200px;
    height: 200px;
}

/* Typography section style */
.typo-key-aspect {
    margin-top: 2rem;
}

#typography-playground {
    margin-top: 2rem;
}

/* Layout Section Style */
.layout-images {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-style: italic;
    margin-top: 1rem;
}

#layout-section #layout,
#layout-section #spacing {
    margin-top: 2rem;
}

.layout-spacing-content li {
    margin-top: 1rem;
}

/* Team section style */
.team-member .team-member-photo {
    width: 200px;
}

/* Content Styles - Helpers */
section.block {
    margin-bottom: 4rem;
}

.principle-text h4,
.section-content li h4,
.section-content li h5 {
    margin-bottom: 0.5rem;
}

section.text-block {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

section.text-block p {
    max-width: 80%;
}

section .section-heading {
    margin-bottom: 1.5rem;
}

section .section-subheading {
    margin-bottom: 2rem;
}

/* Footer Styles */
.footer-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;
    flex-direction: row;
    justify-content: space-between;
}

.company-info .logo {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.company-info,
.google-maps,
.footer-nav {
    flex-basis: auto;
    padding: 1rem;
}

.contact-info h3,
.footer-nav h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: wavy;
    margin-bottom: 0.5rem;
}

.contact-info p {
    padding: 0.125rem 0;
}

.footer-nav .nav-list {
    flex-direction: column;
    align-items: flex-start;
}

.footer-nav .nav-item {
    padding: 0.125rem 0;
}

.footer-nav .nav-item a {
    color: var(--white);
    font-weight: 500;
}

.footer-nav .nav-item a:hover {
    color: var(--pink);
    text-decoration: underline;
}

.footer-content .google-maps iframe {
    width: 100%;
    height: 400px;
    border: 0;
}
}

