/* Mobile styles (below 768px) */

/* Style Body */
body {
  width: 100%;
  background: var(--white);
  line-height: 1.2;
}

/* Helper Style Classes */
.block {
  width: 100%;
}

.principle-text h4,
.section-content li h4,
.section-content li h5 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

section.text-block {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

section.block {
  margin-bottom: 2rem;
}

section .section-heading {
  margin-bottom: 1rem;
}

section .section-subheading {
  margin-bottom: 1.5rem;
}

/* Style the header and header navigation */
.header {
  height: 50px;
  background-color: #f5f5f5;
  position: fixed;
}

.logo a {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

#header-nav {
  display: none;
}

/* Footer Style */
.footer {
  background-color: var(--deep-blue);
  color: var(--pink);
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content .google-maps {
  flex-grow: 2;
}

.company-info .logo a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--white);
}

.contact-info address {
  font-style: normal;
  color: var(--white);
}

.copyright {
  text-align: center;
}

/* Style the hero section */
#hero {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 350px;
  background: linear-gradient(
      -45deg,
      var(--gradient-purple),
      var(--gradient-pink)
    ),
    url("./images/design-bg.jpg") center center / cover no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Design section style */
.design-principle:not(:first-child) {
  margin-top: 2rem;
}

/* Color section style */
#color-generator > p {
  margin-top:  1rem;
}

#good-contrast {
  background-color: var(--deep-blue);
  color: var(--white);
  height: 100px;
  margin-top: 1rem;
}

#bad-contrast {
  background-color: var(--gradient-pink);
  color: var(--black);
  height: 100px;
  margin-top: 1rem;
}

#color-generator {
  margin-top: 1.5rem;
}
#color-palette {
  margin-top: 1rem;
}

.color-box {
  width: 100%;
  height: 50px;
}

.color-code {
  font-weight: 400;
  background-color: var(--white);
  padding-left: 0.2rem;
  margin-top: 0;
  padding-top: 0;
}

#generate-palette {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--deep-blue);
  color: var(--white);
  border: none;
}

/* TYpography style */
#typography-playground {
  margin-top: 1.5rem;
}

/* Layout section style */
#layout-section #layout,
#layout-section #spacing {
    margin-top: 1.5rem;
}

/* Team Section Style */
#team-section .section-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.team-member .team-member-photo {
  border-radius: 50%;
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.team-member {
  margin-top: 1.5rem;
}

.team-member-name,
.about-member {
  text-align: center;
  margin-top: 0.2rem;
}